body {
    background-image: url('imagea.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;
    padding: 0; 
  }
  
  body {
      background-color: rgba(239, 204, 164, 0.332);
      font-family:monospace;
      font-size: 150%;
      padding: 30px;
      margin: 50px;
      text-align: center;
  
  }
      .gradient {
          display: grid;
          gap: 1rem;
          grid-template-rows: repeat(3, 1fr);
          margin: auto;
          max-height: 250px;
          max-width: 800px;
          padding: 1rem;
        }
        
        @media (min-width: 600px) {
          .gradient {
            grid-template-columns: repeat(3, 1fr);
          }
        }
        
        .gradient {
          align-items: center;
          border-radius: 16px;
          box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.922);
          color: #fffdfd;
          font-size: 3rem;
          text-align: center;
          padding:10px 20px;
          font-weight: 900;
          display: flex;
          height: 250px;
          justify-content: center;
          text-shadow: 0 2px 3px hsl(54, 78%, 79%);
        }
  
      .radial {
          background-image: radial-gradient(#f9e9b9, #e26297);
        }
  
      .button-heading {
          display: inline-block;
          padding: 10px 20px;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          background-image: radial-gradient(#ff8edd,#ffcf9f);
          color: #fff;
          border-radius: 5px;
          transition: background-color 0.3s ease;
          margin-top: 20px
        }
    
      .button-heading:hover {
          background-image: radial-gradient(#fffdb4,#ffcf9f);
          text-align: center;
  
        }
  
    h1 {
      color: rgba(0, 0, 0, 0.904);
      font-family:monospace;
      text-align: center;
      margin-bottom: 20px;
    }
  
    p {
      color: rgb(14, 1, 1);
      font-family:monospace;
      text-align: center;
  
    }
  /* style sheet for journal.html */
  .timeline {
    max-width: 800px;
    margin: auto;
  }
  
  .timeline-event {
    background-color: #fa7da5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  
  .timeline-event:hover {
    transform: translateX(10px);
  }
  
  nav.navigation {
    margin-bottom: 20px;
  }
  
  /* style sheet for projects.html */
    iframe {
      height: 8cm; 
      width: 18cm;
      inline-size: 1.5;
      max-block-size: 2;
  }
  
  /* style sheet for about.html */
  table {
    border-collapse: collapse;
    width: 60%; 
    background-color: rgba(243, 136, 191, 0.8); 
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table td,
  table th {
    border: 1px solid #eaade9; 
    padding: 10px; 
    text-align: center;
  }
  
  th {
    background-color: #f18bd6; 
    color: #f4c4fc;
    text-align: center;
  }
  
  
  td {
    margin-right: 10px; 
  }
  
  .hobbies {
    cursor: pointer;
    transition: transform 0.2s;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #f9e9b9;
    font-size: 24px;
    color: #000;
    text-align: center;
  }
  .hobbies:hover {
    transform: scale(1.05);
  }
  .color-change {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .color-change:hover {
    background-color: #000000; 
    color: #2efaed; 
  }
  
  /* style sheet for contact.html */
  .social-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .social-icon img {
    display: block; 
  }
  